:root {
    --white-high-contrast: #F9FAF8;
    --white-low-contrast: #E5E7EB;
    --space-0: 8px;
    --space-1: 16px;
    --space-2: 32px;
    --space-3: 48px;
    --space-4: 64px;
    --space-5: 100px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

h1 { 
    margin: 0; 
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.container {
    display: flex;
    flex-direction: column;
}

/* header */
header {
    background-color: #1F2937;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: var(--space-2);

    padding: var(--space-1);
    padding-bottom: var(--space-4);
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--white-high-contrast);

}

nav {
    display: flex;
    gap: var(--space-1);
}

.nav-link {
    font-size: 18px;
    text-decoration: none;
    color: var(--white-low-contrast);
}

a:hover.nav-link { color: hsl(0, 0%, 80%); }

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-5);

    padding-bottom: var(--space-5);
}

.hero-text { flex-basis: 400px; }

.hero-image { width: 500px; height: 281.25px; }

.hero, footer { background-color: #1F2937; }

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: var(--white-high-contrast);
}

.hero-description {
    font-size: 18px;
    color: var(--white-low-contrast);
}

.signup-button {
    background-color: #3882F6; 
    color: white;
    font-weight: 700;

    padding: var(--space-0) var(--space-1);
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--space-2);
    padding-bottom: var(--space-4);

}

.information-title {    
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;

    padding-bottom: var(--space-3);

}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-3);
}

.box {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    align-items: center;
}

.box-image {
    text-align: center;

    border: 4px solid #3882F6;
    border-radius: 16px;
}

.box-description { text-align: center; }

.quote-container {
    background-color: #E5E7EB;

    display: flex;
    justify-content: center;

    padding: var(--space-5);
}


.quote {
    max-width: 1000px;

    display:flex;
    flex-direction: column;
}

.quote-text { 
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

    align-self: flex-start;
}

.quote-author {
    font-weight: bold;
    font-size: 20px;

    align-self: flex-end;
}

.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-4) var(--space-2);
}

.signup {
    background-color: #3882F6;
    flex-basis: 1000px;

    padding: var(--space-1) var(--space-3);

    color: white;
}

.signup-title {
    font-size: 18px;
    font-weight: bold;

}

.signup > button {

    border-color: white;
}
footer {
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--space-1) var(--space-1);
}
